.drake-section {
    background-image: url("/ImagesProject/field2.jpg");
    background-size: cover;
    background-position: center;
    height: 1800px;
  }

.drake-font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding:10px;
  font-size: 72;
  text-align: center;
  color: wheat;
  letter-spacing: 0.1em; 
  transform: scaleX(1.3);
}

.position {
  display: block;
  margin: 0 auto;
  width: 500px;  
  height: auto;
}

.card {
  padding: 20px;
  background: gray;
  border-radius: 200px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.card2 {
  padding: 20px;
  background: #4847B5;
  border-radius: 200px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.card3 {
  padding: 20px;
  background: #B51B02;
  border-radius: 200px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.video {
  display: block;
  margin: 40px auto;
}

.return {
  display: block;
  margin: 20px auto;
  color:wheat;
  font-size: 20;
}

.button {
  background-color:gray;
}

.drakenav {
  background-color: gray;
  height:20px;
  width:auto;
  border: 2px solid black; /* 2px thick, solid line, black color */
  padding: 20px; 
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.navtext {
  text-align:end;
}

h1 {
  text-align:center;
}

a {
  text-decoration:none;
}

.padcenter {
  padding-left:40%;
  color:beige;
  font-size: 20;
}

.padoffcenter {
  padding-left:34%;
  color:beige;
  font-size: 20;
}